.users-login nav.top-bar {
    display: none;
}

#header h2 {
    color: #fff;
}

#header {
    margin: 0 0 1em 0;
}


.hidden {
    display: none;
}
.pdf-content {
    table tr th {
      border-bottom: 2px solid #444;
    }
    .page-column {
        width: 170px;
        float: left;
        height:1260px;
        table {
            margin-bottom: 0;
        }
        .title {
            font-size: 16px;
        }
        .name {
            font-size: 12px;
            height: 18px
        }
        .date {
            font-size: 12px;
            height: 18px;
        }
        td {
            border-left: 1px solid #444;
            border-bottom: 1px solid #444;
            text-align: center;
            padding: 5px;
        }
        &.last-column {
            td {
                border-right: 1px solid #444;
            }
        }
    }
}
@media (max-width: 400px) {
    table {
        tr {
            td, th {
                font-size: 0.75rem;
                h6, h5 {

                    font-size: 0.75rem;
                }
            }
        }
    }
    .content {
        padding: 5px;
        
    }
    .content, #actions-sidebar {
        margin-bottom: -99999px;
        padding-bottom: 99999px;
    }
}
